// out: ../clqless.css, compress: true
@import "functions";
@import "constants";
.hw-auto {
    height: auto;
    width: auto;
}
.right {
    float: right;
}
.left {
    float: left;
}
.center {
    margin: 0 auto;
}
.cap {
    text-transform: capitalize;
}
.upper {
    text-transform: uppercase;
}
.drop-transition {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.clq {
    .gradient(@bg-sky; white);
}
.container {
    padding: 0;
}
.page-text {
    font-weight: 400;
}
.title {
    width: 100%;
    margin: 15px 0 20px;
    text-indent: 20%;
}
.content {
    width: 75%;
    p {
        margin: 0;
    }
}
.photo {
    margin: 10px;
}
.important {
    list-style-image: @img-warning;
    color: @red-warning;
    font-weight: bold;
    font-size: 18px;
}
.gallery-link {
    display: inline-block;
    padding: 0 15px 15px 0;
}
.gallery-thumb-link {
    display: table-cell;
    width: 160px;
    height: 120px;
    vertical-align: middle;
}
.gallery-title {
    width: 100%;
    text-align: center;
    display: block;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media (max-width:768px) {
    .container {
        padding: 0;
    }
    .content {
        width: 100%;
    }
}
@media (max-width:400px) {
    body {
        font-size: 12px;
    }
}
@import "banner";
@import "nav";
@import "rates";
@import "calendar";
