// out: ../clqless.css
@import "functions";
@import "constants";
.hw-auto {
  height: auto;
  width: auto;
}
.right {
  float: right;
}
.center {
  margin: 0 auto;
}
.cap {
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.topnav {
  padding: 0 7.5%;
  background-color: @topnav-bg;
  z-index: 9999;
  .navitem {
    display: inline-block;
    a {
      color: @topnav-menu-a;
    }
  }
}
.dropdown {
  display: none;
  padding: 15px 0 0;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1000;
  background: @topnav-bg;
  border: 1px solid @topnav-dropdown-border;
  .navitem {
    padding: 0;
    margin: 0 12px 10px;
    .text-params(@height: 1.4; @weigth: 400);
    display: block;
    a {
      color: @topnav-dropdown-a;
    }
  }
}
.navitem {
  position: relative;
  margin: 0 0 0 10px;
  padding-bottom: 1px;
  .text-params();
  &:hover>.dropdown {
    display: block;
  }
  a {
    padding: 20px 10px;
    &:hover {
      text-decoration: none;
      color: @topnav-menu-a-sel;
    }
  }
}
