// main: clq.less

@default-txt: #000;
@bg-sky: #ddecf6; //ddf0fe;

/* colors */
@topnav-bg: transparent; //#fff;
@topnav-txt: #282828;
@topnav-txt-sel: #337ab7;
@topnav-bg-sel: #CEE5F9;//3caefa;
@topnav-drop-txt: #444c57;
@topnav-resp-bg: #000;
@topnav-resp-txt : #fff;

@subnav-bg: @topnav-bg-sel; //#fff;
@subnav-border: #3caefa; //#eee;

@sidenav-txt: #444c57;
