/*!
* Theme's Stylesheet - Modify/Add your own stylesheet + Your Copyright
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);

body,input,select,textarea {
	color:#6e6e6e;
	font-family:'Roboto',sans-serif;
	font-size:16px;
	font-weight:300;
	line-height: 1.6;
}

.container {
	padding: 50px 0 50px;
}

.title{
	width:100%;
}


nav ul li a {
	text-transform: uppercase;
}

nav ul ul li a {
	text-transform: capitalize;
}

footer .container {
	padding: 5px 7.5% 0px;
	width: 100%;
}

footer {
	background-color:#222;
	color:#999;
	padding: 0;
	font-size:15px;
}
footer hr {
	border-top:1px solid #444;
}
footer a, footer a:active, footer a:focus{
	color:#fff;
}

/* Tidying Logo and mobile menu behaviour */


header a.logo {
	background : url(img/logo.png);
	height:95px;
	width:200px;
	background-position: top left;
    background-repeat: no-repeat;
    text-indent: -999em;
}

.header-wrapper {
	height:auto;
}

.header-wrapper header .logo {
	font-size:17px;
	float:left;
	line-height:57px;
	letter-spacing:1px;
	color:#333;
}


.topnav {
	height:auto;
	float:right;
	width:auto;
	padding:0px 7.5%;
	margin:0px auto;
	background-color:#fff;
	z-index:9999;
}
.topnav li {
	position:relative;
	margin:0px 0px 0px 10px;
	font-size:14px;
	padding-bottom:1px;
	letter-spacing:1px;
	font-weight:500;
	display:inline-block;
}
.topnav li a {
	color:#282828;
	padding:20px 10px;
}
.topnav li a:hover,.topnav li a.active {
	text-decoration:none;
	color:#337ab7;
}
.topnav li ul {
	display:none;
	padding:15px 0px 0px;
	position:absolute;
	top:25px;
	left:0px;
	z-index:1000;
	width:200px;
	background:#fff;
	border:1px solid #eee;
}
.topnav li:hover>ul {
	display:block;
}
.topnav li ul li {
	padding:0;
	color:#444c57;
	margin:0 12px 10px 12px;
	line-height:1.4;
	font-weight:400;
}
.topnav li ul li a {
	color:#444c57;
}
.topnav li ul li a:hover {
	color:#337ab7;
}

.sidenav {
	float:left;
	width: auto;
	padding-right: 5%;
}
.sidenav ul {
	padding: 0;
	list-style-type:none;
}
.sidenav li {

}
.sidenav li a {
	padding:10px 10px;
}
.sidenav li ul li {
	padding:0;
	color:#444c57;
	margin:0 12px 10px 12px;
	line-height:1.4;
	font-weight:400;
}



.contact-band {
		text-align:right;
		padding-right:30px;
		padding-top:15px;
}

.contact-band a{
		color:#000000;
}

.content {
	max-width:100%;
}

@media (max-width: 992px){
	.js .nav-collapse {
		width: 300px;
		float: right;
}}


/*Making the 'stickybody' work'*/

body.stickybody {
	margin-top:0;
}

.header-wrapper.sticky {
	position:fixed;
	border-bottom:1px solid #eee;
	top:0;
}


/*Making the Footer 'sticky'*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 250px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}
