/*!
* Theme's Stylesheet - Modify/Add your own stylesheet + Your Copyright
*/


body, input, select, textarea {
  color: #6e6e6e;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
.container {
  padding: 50px 0 50px;
}
.title {
  width: 100%;
}


/*Style 'show menu' label button and hide it by default*/

.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
  width: 100%;
}

/*Hide checkbox*/

input[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/

input[type=checkbox]:checked ~ #navmenu {
  display: block;
}


footer .container {
  padding: 5px 7.5% 0;
  width: 100%;
}
footer {
  background-color: #222;
  color: #999;
  padding: 0;
  font-size: 15px;
}
footer hr {
  border-top: 1px solid #444;
}
footer a, footer a:active, footer a:focus {
  color: #fff;
}

/* Tidying Logo and mobile menu behaviour */

header a.logo {
  background: url(img/logo.png);
  height: 95px;
  width: 200px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: -999em;
}
.header-wrapper {
  height: auto;
}
.header-wrapper header .logo {
  font-size: 17px;
  float: left;
  line-height: 57px;
  letter-spacing: 1px;
  color: #333;
}



.content {
  max-width: 100%;
}

/*Making the 'stickybody' work'*/

body.stickybody {
  margin-top: 0;
}
.header-wrapper .sticky {
  position: fixed;
  border-bottom: 1px solid #eee;
  top: 0;
}

/*Making the Footer 'sticky'*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 25px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
}
