/* colors */
.hw-auto {
  height: auto;
  width: auto;
}
.right {
  float: right;
}
.center {
  margin: 0 auto;
}
.cap {
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.topnav {
  padding: 0 7.5%;
  background-color: #ffffff;
  z-index: 9999;
}
.topnav .navitem {
  display: inline-block;
}
.topnav .navitem a {
  color: #282828;
}
.dropdown {
  display: none;
  padding: 15px 0 0;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.dropdown .navitem {
  padding: 0;
  margin: 0 12px 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.4;
  display: block;
}
.dropdown .navitem a {
  color: #444c57;
}
.navitem {
  position: relative;
  margin: 0 0 0 10px;
  padding-bottom: 1px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
}
.navitem:hover > .dropdown {
  display: block;
}
.navitem a {
  padding: 20px 10px;
}
.navitem a:hover {
  text-decoration: none;
  color: #337ab7;
}
