/* Top Menu */
/* Dropdown submenu */
.hw-auto {
  height: auto;
  width: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
.center {
  margin: 0 auto;
}
.cap {
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.drop-transition {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.clq {
  background: #ddf1fe;
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#ddf1fe, #ffffff);
  /* For Safari 4+ and Chrome */
  background: -webkit-gradient(#ddf1fe, #ffffff);
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#ddf1fe, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#ddf1fe, #ffffff);
  /* For IE10+ */
  background: -ms-linear-gradient(#ddf1fe, #ffffff);
  /* Standard syntax */
  background: linear-gradient(#ddf1fe, #ffffff);
}
.banner {
  width: 100%;
}
.header-wrapper {
  margin: 5px 0 0 0;
  background-color: transparent;
}
.logo {
  background: url("img/logo.png");
  height: 150px;
  width: 293px;
  float: left;
  line-height: 57px;
  letter-spacing: 1px;
  color: #333;
  text-indent: -999em;
  direction: ltr;
}
.tools {
  padding: 10px 0 10px 30px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
}
.lang {
  margin: 0 0 0 10px;
}
.lang a {
  color: #004d00;
  text-decoration: none;
}
.contact-band span {
  margin-right: 15px;
  display: inline-block;
}
.contact-band i {
  padding-right: 5px;
}
.contact-band a {
  color: #004d00;
}
.topnav {
  padding: 0;
  background-color: transparent;
}
.root {
  padding: 0;
}
.topmenu .navitem {
  display: inline-block;
}
.topmenu .navitem a {
  padding: 5px 5px 3px;
}
.topmenu .navitem a:hover {
  text-decoration: none;
  color: #00b300;
}
.topmenu .navitem:hover > .subnav {
  visibility: visible;
  opacity: 1;
}
.subnav {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding: 15px 0 0;
  position: absolute;
  width: auto;
  min-width: 100%;
  background: #dbf0db;
  border: 2px solid #8b4727;
  white-space: nowrap;
}
.subnav .navitem {
  padding: 0;
  margin: 0 12px 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.4;
  display: block;
}
.subnav .navitem a {
  border: none;
  color: #444c57;
}
.subnav .navitem a:hover {
  border: none;
}
.subnav .navitem a:after {
  content: '';
}
.navitem {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
}
.navitem a {
  padding: 5px 15px 4px;
  color: #004d00;
}
.navitem a:hover {
  text-decoration: none;
  color: #00b300;
}
.current {
  border-bottom: 2px solid #8b4727;
}
.current2 {
  background: #b3d1ff;
}
.sidenav {
  width: 25%;
}
.sidenav .rootnav {
  margin: 0;
  list-style-type: none;
}
.sidenav .navitem {
  display: block;
  color: #444c57;
  margin: 0;
  padding: 0 10px 15px;
}
.sidenav .navitem a {
  padding: 0;
}
.container {
  padding: 0;
}
.title {
  width: 100%;
  margin: 15px 0 20px 0;
  text-indent: 25%;
}
.content {
  width: 75%;
}
.content p {
  margin: 0;
}
.photo {
  margin: 10px;
}
.foot-banner {
  background-image: url("img/front-fleur.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  width: 100%;
  z-index: 9999;
}
@media (min-width: 768px) {
  .open a:after {
    content: '\25bc';
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .navitem {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
  }
  .subnav .navitem {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.6;
  }
}
@media (max-width: 768px) {
  .logo {
    background: url("img/logo-small.png");
    height: 95px;
    width: 186px;
  }
  .banner {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .tools {
    font-size: 12px;
    padding: 10px 0 10px 30px;
    justify-content: flex-start;
  }
  .lang {
    margin: 0 10px 0;
  }
  .show-menu {
    display: block;
  }
  .topnav {
    background-color: transparent;
    width: 100%;
  }
  .topmenu {
    display: none;
    background-color: #000000;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .topmenu .navitem {
    display: block;
    margin-bottom: 1px;
    border-bottom: 1px solid #ffffff;
    padding: 5px 0;
  }
  .subnav {
    display: block;
    visibility: visible;
    opacity: 1;
    position: relative;
    background-color: #000000;
    top: 0;
    padding: 0 0 0 10px;
    border: none;
  }
  .subnav .navitem {
    padding: 0;
    margin: 5px 12px 5px 0;
    border: none;
  }
  .subnav .navitem a {
    color: #ffffff;
  }
  .subnav .navitem a:before {
    content: '-';
    margin-right: 5px;
  }
  .navitem {
    width: 100%;
  }
  .navitem a {
    font-size: 12px;
    color: #ffffff;
  }
  .sidenav {
    display: none;
  }
  .container {
    padding: 0;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 12px;
  }
  .tools {
    justify-content: flex-start;
    padding: 20px 0 10px 10px;
  }
}
